.ql-toolbar,
.ql-container {
  border: none !important;
}

.ql-editor::-webkit-scrollbar {
  width: 15px;
  cursor: pointer;
}

.ql-toolbar {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.ql-container {
  color: white;
  background-color: rgba(17, 24, 39, 0.2);
}

.ql-editor::before {
  color: white !important;
}

.blurred {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* animations.css */
@keyframes scale-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.scale-in {
  animation: scale-in 0.2s ease-out forwards;
}

.scale-out {
  animation: scale-out 0.15s ease-in forwards;
}